---
# Hey Jekyll, please transform this file.
---

@import "configure";

article.page- h1 {
  font-size: 4em;

  a {
    color: inherit;
    text-decoration: none;
  }

  .version {
    color: #333;
    font-size: 18px;
    font-weight: normal;
  }
}
