#configure {
  background-color: #333;
  color: #ccc;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
  margin: 2em 0;
}

#apply {
  opacity: 0.5;
  transition: opacity 0.3s;

  .configuring & {
    opacity: 1;
  }
}

#snippet {
  width: 100%;
  max-width: none;
  font-size: 0.8em;
  height: 8em;
}
