---
layout: default
---

<div id="configure" class="unconfigured">
  <p id="intro" class="show-when-unconfigured">Through our experiences at the <a href="http://todogroup.org">TODO Group</a>, we strongly believe that a code of conduct helps set the ground rules for participation in communities and helps build a culture of respect. We hope <a href="https://github.com/todogroup/opencodeofconduct">sharing this with you</a> will enable you to easily establish a code of conduct for your respective open source community. The following is a code of conduct template. To generate your own code of conduct, change the values of COMMUNITY, CONTACT from their original values as given here, and substitute your own.</p>

  <a href="#configure" class="show-when-unconfigured">Configure</a>

  <form class="show-when-configuring">
    <p>
      <label>Name of community:</label>
      <input type="text" name="community">
    </p>

    <p>
      <label>Email address to report abuses to:</label>
      <input type="email" name="contact">
    </p>

    <button>Configure</button>
  </form>


  <div id="apply" class="show-when-configured">
    <p>Copy and paste this template into the <code>README</code> or <code>CONTRIBUTING</code> file of your project.</p>

    <textarea id="snippet"></textarea>

    <div id="code"></div>
  </div>

  <script id="markdown-template" type="text/plain">
    This project adheres to the [Open Code of Conduct]([URL]). By participating, you are expected to uphold this code.
  </script>
</div>

<div id="code-of-conduct">
  {{ content }}
</div>

<script type="text/javascript" src="{{site.baseurl }}/js/configure.js"></script>
