---
layout: default
---

<p><i>The purpose of creating this effort was to promote more open source
  organizations and projects to adopt code of conducts. Through our experiences
  at the [@TODOGroup](https://twitter.com/todogroup), we strongly believe that
  code of conducts help set the ground rules for participation in communities and
  more importantly, help build a culture of respect. We hope by [sharing this
  with you](https://github.com/opencodeofconduct/opencodeofconduct.github.io)
  will enable you to easily establish a code of conduct for your respective
  open source community. The following is a code of conduct template. To
  generate your own code of conduct, change the values of COMMUNITY, CONTACT
  from their original values as given here, and substitute your own.</i></p>

<div id="configure" class="unconfigured">
  <a href="#configure" class="show-when-configured show-when-unconfigured">Configure</a>

  <form class="show-when-configuring">
    <p>
      <label>Name of community:</label>
      <input type="text" name="community">
    </p>

    <p>
      <label>Email address to report abuses to:</label>
      <input type="email" name="contact">
    </p>

    <button>Configure</button>
  </form>


  <div id="apply" class="show-when-configured">
    <p>Copy and paste this template into the <code>README</code> or <code>CONTRIBUTING</code> file of your project.</p>

    <textarea id="snippet"></textarea>

    <div id="code"></div>
  </div>

  <script id="markdown-template" type="text/plain">
    This project adheres to the [Open Code of Conduct]([URL]). By participating, you are expected to uphold this code.
  </script>
</div>

<div id="code-of-conduct">
  {{ content }}
</div>

<script type="text/javascript" src="{{site.baseurl }}/js/configure.js"></script>
