---
layout: default
---

</div> <!-- .container -->

<div id="configure" class="unconfigured">
  <div class="container">
    <p><em>Update: We will not be continuing work on the open code of conduct. See <a href="http://todogroup.org/blog/followup-open-code-of-conduct/">our followup post</a> for more information.</em></p>

    <p>We recommend you adopt a code of conduct that fits the needs of your community. Here are a few communities and projects that established code of conducts and diversity statements:</p>

    <ul>
      <li><a href="https://www.djangoproject.com/conduct/reporting/">Django</a></li>
      <li><a href="https://www.python.org/community/diversity/">Python</a></li>
      <li><a href="http://www.ubuntu.com/about/about-ubuntu/conduct">Ubuntu</a></li>
      <li><a href="http://contributor-covenant.org/">Contributor Covenant</a></li>
      <li><a href="http://geekfeminism.org/about/code-of-conduct/">Geek Feminism</a></li>
      <li><a href="http://citizencodeofconduct.org/">Citizen Code of Conduct</a></li>
    </ul>
  </div> <!-- .container -->
</div>

<div class="container">

<div id="code-of-conduct">
  {{ content }}
</div>

<script type="text/javascript" src="js/configure.js"></script>
